<div class="container">
<h2>Edit Asset</h2>

<%= render "form.html", Map.put(assigns, :action, asset_path(@conn, :update, @asset)) %>

<span><%= link "Back", to: asset_path(@conn, :index) %></span>
</div>
